/* .chat-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:white;
}

.chatbox {
    position: relative;
    width: 600px;
    height: 600px;
    background: rgb(214, 214, 214);
    border-radius: 5%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
} */

